<% content_for :title_white,
  t('private_space.edit_password.title.part1')
%>

<% content_for :title_blue,
  t('private_space.edit_password.title.part2')
%>

<p class="Onboarding-text">
  <%= raw t('private_space.edit_password.subtitle') %>
</p>

<%= simple_form_for @user, url: update_first_password_path do |f| %>
  <%= f.input :current_password, required: true, pattern: ".*[^ ].*", hint: t('private_space.sign_in.hint'),
              input_html: { 'data-action': 'blur->form#validate' } %>
  <%= f.input :password, required: true, pattern: ".*[^ ].*",
              input_html: { 'data-action': 'blur->form#validate' } %>
  <%= f.input :password_confirmation, required: true, pattern: ".*[^ ].*",
              input_html: { 'data-action': 'blur->form#validate' } %>
  <div class="Form-actions Onboarding-form">
    <%= f.button :submit, raw(t('private_space.edit_password.cta')), class: 'Button--box Button--fullWidth' %>
  </div>
<% end %>
