<% content_for :welcome_title,
  t('private_space.forgotten_password.welcome_title')
%>

<% content_for :welcome_content,
  t('private_space.forgotten_password.welcome_message')
%>

<% content_for :title do %>
  <%= t('private_space.forgotten_password.title.white') %>
  <span class="Login-title--blue"> <%= t('private_space.forgotten_password.title.blue') %></span>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                pattern: ".*[^ ].*",
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('private_space.forgotten_password.cta'), class: "Button Button--box Button--fullWidth" %>
  </div>
<% end %>

