<p style="font-weight: 800;">
  <%= @individual.first_name %>,
</p>
<p><%= t("individual.id_card_received_email.paragraph_1") %></p>
<p><%= t("individual.id_card_received_email.paragraph_2") %></p>

<p style="font-weight: 800;margin-top: 3rem;"><%= t("individual.id_card_received_email.paragraph_3") %></p>

<p style="font-weight: 800;"><%= t("individual.id_card_received_email.paragraph_4") %></p>


