<p><%= t('private_space.forgotten_password.email.greeting') %> <%= @resource.try(:first_name) %>!</p>

<p>
  <%= raw(t('private_space.forgotten_password.email.first_sentence')) %>
</p>

<p>
  <%= link_to t('private_space.forgotten_password.email.link'),
    edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>
<p>
  <%= t('private_space.forgotten_password.email.second_sentence') %>
</p>
<p>
  <%= t('private_space.forgotten_password.email.third_sentence') %>
</p>
