<section class="Section IllustrationSection IllustrationSection--<%= color %>">
  <div class="container IllustrationSection-container">
    <div class="IllustrationSection-column">
      <%= image_tag image, class: "IllustrationSection-image" %>
    </div>
    <div class="IllustrationSection-column">
      <h2 class="IllustrationSection-title">
        <%= title %>
      </h2>
      <p class="IllustrationSection-text">
        <%= paragraph_1 %>
      </p>
      <p class="IllustrationSection-text">
        <%= paragraph_2 %>
      </p>
    </div>
  </div>
</section>
