<section class="Section Section--<%= color %> OfferSharesBenefits--<%= color %>">
  <div class="container">
    <h2 class="OfferSharesBenefits-title">
      <%= title %>
    </h2>
    <div class="OfferSharesBenefits-row">
      <div class="OfferSharesBenefits-column">
        <i class="material-icons OfferSharesBenefits-icon OfferSharesBenefits-icon--<%= color %>">
          how_to_vote
        </i>
        <p class="OfferSharesBenefits-description">
          <%= benefit_1 %>
        </p>
      </div>
      <div class="OfferSharesBenefits-column">
        <i class="material-icons OfferSharesBenefits-icon">
          notification_important
        </i>
        <p class="OfferSharesBenefits-description">
          <%= benefit_2 %>
        </p>
      </div>
      <div class="OfferSharesBenefits-column">
        <i class="material-icons OfferSharesBenefits-icon">
          person_outline
        </i>
        <p class="OfferSharesBenefits-description">
          <%= benefit_3 %>
        </p>
      </div>
    </div>
  </div>
</section>
